<br><br>
<%= link_to(new_task_path,class:"hero is-primary") do %>
  <div class="hero-body">
  <div class="container has-text-center">
  <p class="title">
    
      出欠確認
    </p>
    <p class="subtitle">
    出欠確認はここをタップ
    </p>
    </div>
    
  </div>
<% end %>
<br><br>

<%= link_to(tasks_path,class:"hero is-info") do %>
  <div class="hero-body">
  <div class="container has-text-center">
  <p class="title">
    
      参加状況一覧
    </p>
    <p class="subtitle">
    出欠確認したメンバーを表示
    </p>
    </div>
    
  </div>
<% end %>
<br><br>

<%= link_to('pages/show',class:"hero is-danger") do %>
  <div class="hero-body">
  <div class="container has-text-center">
  <p class="title">
    
      使い方
    </p>
    <p class="subtitle">
    このサイトの使い方を表示
    </p>
    </div>
    
  </div>
<% end %>