<div class="hero is-link is-small">
  <div class="hero-body">
  <div class="container has-text-center">
    <p class="title">
        使い方
    </p>
    </div>
    
  </div>
</div>
<br><br><br>
<div class="container">
    <font size="5">左上にある参加確認アプリという文字をタップするとホーム画面に戻れます。</font ><br><br>
    <font size="5">参加登録と参加者状況確認はログインしないと行えません。</font ><br><br>
    <font size="5">新規登録は<strong>メールアドレスなし</strong>で行えます！</font >
</div>